*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
body{
    background-color: #249de2;
    font-family: 'Montserrat', sans-serif;
}
.form_area{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0 ;
}
.text-principal{
    text-align: center;
    padding: 1rem 1rem 1rem;
}
.tarjeta{
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
}
.botton-1{
    padding: 1rem 1rem;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1a23bbb;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.205);
}
.botton-operador{
    border-style: none;
    border-bottom: 1px solid #08080870;
    outline:none;
}
.botton{
    padding: 1rem 1rem;
}
.form-option{
    margin: 1rem 0 .5rem 0;
}
.form-f{
    border-style: none;
    border-bottom: 1px solid #08080870;
    outline:none;
    width: 15rem;
    padding: .2rem 0;
}
.resul-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.resul{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.205);
}
.ok{
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    padding: 1.5rem 1.5rem;
    margin: 5rem 0;
    background-color: #6bdf0d;
    border-radius: 16px;
}
.ok-area{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 12px;
    color: #ffffff;
}
.bad{
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    padding: 1.5rem 1.5rem;
    margin: 5rem 0;
    background-color: #df0d0d;
    border-radius: 16px;
}
.bad-area{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 12px;
    color: #ffffff;
}
.bad-area-incom{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 12px;
    color: #ffffff;
}